# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Personal configuration
*.local
.env

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
